.link-btn{
    position: relative;
    padding: 0.5rem 1rem;
    background-color: var(--color-secondary);
    text-decoration: none;
    color: var(--color-light-1);
    border-radius: 0.6rem;
    font-size: 1.6rem
}