.link-btn{
    position: relative;
    padding: 0.5rem 1rem;
    background-color: var(--color-secondary);
    text-decoration: none;
    color: var(--color-light-1);
    border-radius: 0.6rem;
    font-size: 1.6rem
}

.bttn{
    &,
    &:link, &:visited{
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.5rem 3rem ;
        display: inline-block;
        border-radius: 10rem;
        transition: all .2s;
        position: relative;
        @include para;
        max-width: 12rem;
        //changes for the button
        border: none;
        cursor: pointer;
        @media only screen and (max-width: 56.25em),  only screen and (hover: none){
          padding: 1rem 2rem ;
      }
    }
    &__min{
      padding: 1rem 3rem !important ;
      display: inline !important;
    }
    &:hover{
        transform: translateY(-0.3rem);
        box-shadow: 0 1rem 2rem rgba(#000, .2);
        &::after{
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    }
    &:active, &:focus{
        outline: none;
        transform: translateY(-0.1rem);
        box-shadow: 0 0.5rem 1rem rgba(#000, .2);  
    }
    &--white{
        font-weight: 600;
        color: var(--color-main);
        background-color: var(--color-light-1);
        &::after{
            background-color: var(--color-light-1);
        }
    }
      &--main{
          font-weight: 600;
          color: var(--color-light-1);
          background-color: var(--color-main);
          text-align: center;
          @include para;  
          &::after{
              background-color: var(--color-main);
          } 
      }
      &--blue{
          font-weight: 600;
          color: var(--color-light-1);
          background-color: var(--status-inprocess);
          text-align: center;
          @include para;  
          &::after{
              background-color: var(--status-inprocess);    
          }
      } 
      &--gradiant{
          font-weight: 600;
          color: var(--color-light-1);
          background-image: var(--gradient-color-5);
          font-size: 1.6rem;
          text-align: center;
          @include para;  
          &::after{
              background-image: var(--gradient-color-4);   
          }
      }
    &::after{
        content: '';
        height: 100%;
        width: 100%;
        display: inline-block;
        border-radius: 10rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .4s;
    }  
    &--animated{
        animation: moveInBottom 1s ease-in-out .75s;
        animation-fill-mode: backwards;
    }
  }

  /* Gradiant Button */
.btns-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1.5rem;
    &__btn {
        @include para;
        padding: 0.75rem;
        display: block;
        text-decoration: none;
        background-image: linear-gradient(to right bottom, var(--color-main), var(--color-main-2));
        color: #f3f3f3;
        text-align: center;
        border-radius: 0.25rem;
        cursor: pointer;
        transition: 0.3s;
        &:active {
            background-image: linear-gradient(to left bottom, var(--color-main), var(--color-main-2));
        }
        &:hover {
            box-shadow: 0 0 0 2px #fff, 0 0 0 3px var(--color-main);
        }
        &:last-child {
            max-height: 25.0rem;
        }
        &--one {
            width: 50%;
            margin-left: auto;
        }
    }
}
