.valid {
    position: relative;
    &.success {
        & select,
        input,
        textarea {
            box-shadow: 0 0 6px var(--color-success) !important;
        }
        & .icon-check {
            position: absolute;
            visibility: visible;
            fill: var(--color-success);
        }
        & small {
            visibility: visible;
            color: var(--color-success);
            font-size: 1.7rem;
            font-weight: 900;
        }
    }
    &.error {
       & select,
        input,
        textarea {
            box-shadow: 0 0 6px var(--color-danger);
        }
        & .icon-exclamation {
            position: absolute;
            visibility: visible;
            border-radius: 50%;
            fill: var(--color-danger);
        }
        & small {
            visibility: visible;
            color: var(--color-danger);
            font-size: 1.7rem;
            font-weight: 900;
        }
    }
    & svg {
        position: absolute;
        visibility: hidden;
        bottom: 1.4rem;
        left: 82%;
        height: 2.5rem;
        width: 2.5rem;
    }
    &small {
        visibility: hidden;
        font-size: 1.8rem;
    }
} 
