/* Ajax Search Results  */
#search-layer {
    position: fixed;
    transition: all 0.3s;
    z-index: 34;
    left: 0px;
    top: 0px;
    background-color: rgba(#000, 0.9);
    @supports (-webkit-backdrop-filter: blur()) or (backdrop-filter: blur()) {
        -webkit-backdrop-filter: blur(1rem);
        -moz-backdrop-filter: blur(1rem);
        backdrop-filter: blur(1rem);
    }
}
/***********************************/
#livesearch {
    position: absolute;
    background: #595a5a;
    max-height: 27rem;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 35;
    width: 88.5%;
    left: 4.5%;
    box-shadow: 0px 2px 4px #444;
    margin-left: 1.2%;
    border-radius: 8px;
    cursor: grab;
    &:active {
        cursor: grabbing;
    }
    &::-webkit-scrollbar {
        width: 1.5rem;
    }
    /* Track */
    &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px var(--color-secondary);
        border-radius: 1rem;
    }
    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: var(--color-main);
        border-radius: 1rem;
        &:hover {
            background: var(--color-main-2);
        }
    }
}
/***********************************/
.live-outer {
    width: 100%;
    height: 8rem;
    display: flex;
    justify-content: center;
    z-index: 3;
    border-bottom: 1px solid #ccc;
    background: var(--color-light-1);
    &:hover {
        background: #f3f3f3;
    }
}
/***********************************/
.live-im {
    float: left;
    width: 10%;
    height: 6rem;
    margin: 8px;
     @include respons(phone) {
         width: 25%;
     }
    & img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
    }
}
/***********************************/
.live-product-det {
    float: left;
    width: 90%;
    height: 2.5rem;
}
/***********************************/
.live-product-name {
    width: 100%;
    height: 2.5rem;
    margin-top: 4px;
    & p {
        color: #333;
        text-shadow: 1px 1px 1px #dddddd;
         @include text(
        var(--body-font-transform),
        var(--body-font-size),
        var(--body-font-weigth),
        var(--body-font-family),
        var(--body-font-color),
        var(--body-font-spacing)
    );;
        margin-left: 1rem;
        i {
            font-weight: 600;
        }
        span {
            color: #2196f3;
        }
    }
}
/***********************************/
.live-product-price {
    width: 100%;
    height: 2.5rem;
    &-text {
        float: left;
        width: 50%;
        & p {
            margin-left: 1rem;
            font-size: 1.6rem;
            font-weight: 600;
            width: 200%;
            span {
                color: #2196f3;
            }
        }
    }
}
/***********************************/
.link-p-colr {
    color: #333;
    text-decoration: none;
}
/* Styling  Search form, input and search button*/
.example {
    max-width: 100%;
    margin: auto;
    & input[type="text"] {
        padding: 1rem 2rem;
        height: 4.2rem;
        font-size: 1.7rem;
        border: .5px solid #000;
        border-right: none;
        float: left;
        width: 100%;
        background-color: var(--color-light-1);
        border-top-left-radius: 5rem;
        border-bottom-left-radius: 5rem;
        transition: all 0.5s;
        z-index: 100;
        &:focus {
            box-shadow: 0 0.7rem 2.5rem rgba($color: #000, $alpha: 0.08);
            outline: none;
        }
         @include respons(phone) {
             width: 60%;
         }
    }
    & .btn {
        float: left;
        width: 33%;
        background: var(--color-secondary);
        color: white;
        z-index: 35;
        font-size: 1.7rem;
        border-left: none;
        cursor: pointer;
        border: none;
        border-top-right-radius: 5rem;
        border-bottom-right-radius: 5rem;
        z-index: 100;
        &:hover {
            background: var(--color-main);
        }
        .search__icon {
            height: 4rem;
            width: 4rem;
            fill: var(--color-light-1);
        }
         @include respons(phone) {
             width: 20%;
         }
    }
}
.clear-fix {
    @include flex(center, center);
    &::after {
        content: "";
        display: table;
    }
}
.textbox-clr {
    cursor: text;
    background-color: var(--color-light-1);
    border-bottom: .5px solid #000;
    border-top: .5px solid #000;

    width: 25%;
    float: left;
    z-index: 35;
    outline: none;
    border-left: none;
    border-right: none;
    text-align: center;
    height: 4.2rem;
    font-weight: 900;
    transition: all 0.5s;
     @include respons(phone) {
         width: 13%;
     }
}
.example input[type="text"]:focus + .textbox-clr {
    background-color: #fff;
    box-shadow: 0 0.7rem 2.5rem rgba($color: #000, $alpha: 0.08);
    cursor: pointer;
    z-index: 100;
    &:hover {
        background-color: var(--status-returned);
    }
}
/* layout */
.search-engine-container {
    margin-bottom: 1rem;
    margin-top: 2rem;
}
.search {
    z-index: 35;
    border-radius: 0;
}
