.admin-container {
    position: relative;
    width: 100%;
}
.navigation {
    &.active {
        width: 8rem;
        @include respons(tab-port){ 
            width: 25rem;
            left: 0;
        } 
        @include respons(phone){ 
            width: 27rem;
            left: 0;
        } 
    }
    position: fixed;
    font-size: 1.6rem;
    width: 25rem;
    height: 100%;
    background-color: var(--color-secondary);
    border-left: 1rem solid var(--color-secondary);
    transition: 0.5s;
    overflow: hidden;
    @include respons(tab-port){ 
        left: -27rem;
    } 

}
.main {
    position: absolute;
    width: calc(100% - 25rem);
    left: 25rem;
    min-height: 100vh;
    background: var(--color-light-1);
    transition: 0.5s;
    &.active {
        width: calc(100% - 8rem);
        left: 8rem;
        @include respons(tab-port){ 
            left: 25rem;
        } 
        @include respons(phone){ 
            left: 27rem;
        } 
        
    }
    @include respons(tab-port){ 
        width: 100%;
        left: 0;
    } 
}

.details{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 3rem;
    min-height: 48rem;
    @include respons(phone){ 
        grid-template-columns: repeat(1,1fr);
        padding: 0; 
    }

    &__recent-activities{
        position: relative;
        display: grid;
        background-color: var(--color-light-1);
        box-shadow: 0 0.7rem 2.5rem rgba($color: #000, $alpha: 0.08);
        padding: 1rem 2rem;
        border-radius: 2rem;
        max-width: 100%;
        overflow-y: scroll;
        &__header{
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
        }
        @include respons(phone){ 
            overflow-x: auto;
            padding: 1rem;
        }
    }
    &__recent-connections{
        position: relative;
        background-color: var(--color-light-5);
        padding: 2rem;
        box-shadow: 0 0.7rem 2.5rem rgba($color: #000, $alpha: 0.08);
        border-radius: 2rem;
        width: 100%;
    }
}
