.heading-text {
    @include text(
        var(--heading-font-transform),
        var(--heading-font-size),
        var(--heading-font-weigth),
        var(--heading-font-family),
        var(--heading-font-color),
        var(--heading-letter-spacing)
    );
    transition: all 0.2s;
    background-image: linear-gradient(to right, var(--color-main), var(--color-main-2));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    letter-spacing: 0.2rem;
    &--center-auto {
        @include textCenter;
        &:hover {
            @include textAnimation;
        }
    }
}
.subheading-text {
    @include text(
        var(--subheading-font-transform),
        var(--subheading-font-size),
        var(--subheading-font-weigth),
        var(--subheading-font-family),
        var(--subheading-font-color),
        var(--subheading-letter-spacing)
    );
}
.body-text {
    @include text(
        var(--body-font-transform),
        var(--body-font-size),
        var(--body-font-weigth),
        var(--body-font-family),
        var(--body-font-color),
        var(--body-letter-spacing)
    );
}
.small-text {
    @include text(
        var(--body-font-transform),
        var(--small-font-size),
        var(--small-font-weigth),
        var(--body-font-family),
        var(--body-font-color),
        var(--body-letter-spacing)
    );
}
